@import "waybar.css";


* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}


#tray,
#cpu,
#battery,
#network,
#pulseaudio,
#clock,
#custom {
  min-width: 10px;
  margin: 0 5px;
  padding: 2px;
}

#workspaces button {
  margin: 0 2px;
  padding: 0 2px;
}

tooltip {
  padding: 2px;
}
